<a href="https://colab.research.google.com/github/WillNRL/Medical-Data-Visualizer/blob/main/Medical_Data_Visualizer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [155]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

df = pd.DataFrame(pd.read_csv('https://raw.githubusercontent.com/WillNRL/Medical-Data-Visualizer/main/medical_examination.csv'))

array = ['gluc','cholesterol']
for i in array:
  df[i] = df[i].replace(1,0)
  df[i] = df[i].replace(2,1)
  df[i] = df[i].replace(3,1)
'''                           ^
                              |
                              |
Criei uma laÃ§o para substituir os valores da coluna gluc e cholesterol em 1 para 0, 2 para 1 e  3 para 1.

I created a loop to replace the gluc and cholesterol column values in 1 to 0, 2 to 1 and 3 to 1.
'''
df['height'] = df['height'].astype(float) / 100
df['overweight'] = (df['weight'] / df['height']**2 > 25).astype(int)
'''
        ^                                         ^
        |                                         |
Criando uma coluna;                               |
Fazendo o calculo de IMC, usando .astype(float) para converter os valores da coluna para float e divisando todos valores por 100 para virgula subir casas decimais;

Creating a column; |
Doing the BMI calculation, using .astype(float) to convert the column values to float and dividing all values by 100 for the comma to go up to decimal places;
'''
df.head(10)

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,overweight
0,0,18393,2,1.68,62.0,110,80,0,0,0,0,1,0,0
1,1,20228,1,1.56,85.0,140,90,1,0,0,0,1,1,1
2,2,18857,1,1.65,64.0,130,70,1,0,0,0,0,1,0
3,3,17623,2,1.69,82.0,150,100,0,0,0,0,1,1,1
4,4,17474,1,1.56,56.0,100,60,0,0,0,0,0,0,0
5,8,21914,1,1.51,67.0,120,80,1,1,0,0,0,0,1
6,9,22113,1,1.57,93.0,130,80,1,0,0,0,1,0,1
7,12,22584,2,1.78,95.0,130,90,1,1,0,0,1,1,1
8,13,17668,1,1.58,71.0,110,70,0,0,0,0,1,0,1
9,14,19834,1,1.64,68.0,110,60,0,0,0,0,0,0,1